# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.ipa

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment
.env

# IDE
*.swp
*.swo
.idea/
.vscode/
